<!DOCTYPE html>
<html lang="zxx">
<head>
  <% include ../partials/head %>
  <% include ../partials/headScripts %>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<% include ../partials/profileHeader %>
	</header>
	<!-- Header section end -->
<%include ../partials/logOut%>


  <section id="profile" class="hero-section set-bg" data-setbg="/img/profile.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
            <h2>Profile</h2>
            <div class="profileTitle">
            <h2 id="pro-first"class="firstname">Name: <%= First %> <%= Last %></h2>
            <h2 id="pro-user"class="username">Username: <%= Username %></h2>
            <p class="msg" id="msg"></p>
          </div>
            <a href="#5" class="site-btn">Edit Profile</a>
            </div>
          </div>

        </div>
  </section>



  <section id="edit-profile" class="hero-section set-bg" data-setbg="/img/profile2.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
            <h2>Edit Profile</h2>
            <div class="editProfileTitle">
            <h2 id="pro-first"class="firstname">Current Name: <%= First %> <%= Last %></h2>
            <input id="NewFirst" class="input-boxes" type="text" placeholder="New First Name" name="new-firstname" required>
            <input id="NewLast" class="input-boxes" type="text" placeholder="New Surname" name="new-surname" required>
            <h2 id="pro-user"class="username">Current Username: <%= Username %></h2>
            <input id="NewUser" class="input-boxes" type="text" placeholder="New Username" name="new-username" required>
            <h2 id="pro-user"class="username">Current Password: <%= Password %></h2>
            <input id="NewPass" class="input-boxes" type="text" placeholder="New Password" name="new-pass" required>

            <p class="msg" id="msg"></p>
          </div>
            <a href="#" id="editbtn"class="site-btn">Save Chnages</a>
            </div>
        </div>
      </div>
  </section>






	<!-- Footer section -->
	<footer class="footer-section">
		<% include ../partials/profileFooter %>
	</footer>
	<!-- Footer top section end -->


	<!--====== Javascripts & Jquery ======-->
	<% include ../partials/footerScripts %>
	</body>
</html>
